PORT=3009
SECRET_KEY=change_this_secret

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tiwater_timeseries
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_SSL=false

POSTGRES_TIWATER_HOST=localhost
POSTGRES_TIWATER_PORT=5432
POSTGRES_TIWATER_DB=ti_water
POSTGRES_TIWATER_USER=postgres
POSTGRES_TIWATER_PASSWORD=
POSTGRES_TIWATER_SSL=false

TIWATER_API_KEY=change_this_api_key
